* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.nav-links {
  margin-left: 40rem;
}
.buy-btn {
  background-color: #080808;
  color: #fff;
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
}
